{% extends 'rango/base.html' %}

{% load static %}
    
{% block title %}Rango about{% endblock %}

{% block body_block %}

    <h1>about Rango says...</h1>
    hello world! <strong>{{ boldmessage }}</strong><br />
    <a href="{% url 'index' %} ">Index</a><br />
    <img src="{% static "images/12.jpg" %}" alt="Picture of Rango about" />
    <button onClick="alert('You clicked the button using Javascript.');">
    Click Me - I run Javascript
    </button>
    <button id="about-btn"> Click Me - I`m Javascript on Speed</button>
    <p id="test">color change on p</p>
{% endblock %}
